/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
}
.blog {
  background-color: #f7f7f7;
}
