/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Pacifico", cursive;
  font-family: "Quicksand", sans-serif;
}
/* header */
.header {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 99;
  width: 100%;
}
.header__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  padding: 40px 0 20px 0;
}
.header .navbar {
  padding: 0;
}
.header h1 a {
  font-size: 36px;
  font-weight: 700;
}

.header button {
  position: absolute;
  top: 10px;
  right: 150px;
}
.header input {
  border-radius: 6px;
  padding: 10px 50px 10px 20px;
  height: 45px;
}
.moon {
  color: white;
  font-size: 1.8rem;
  margin: 0;
}
/* global */
.type {
  font-family: "Pacifico", cursive;
}
/* overlay */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: all 1s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f151;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  border-radius: 10px;
  padding: 5px 20px;
  text-align: center;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* carousel */

.carousel {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
}
.carousel__content {
  padding-top: 200px;
  padding-left: 0;
}
.carousel__text {
  color: white;
  max-width: 600px;
}
.carousel__text a {
  border: 1px solid white;
  color: white;
  margin-top: 48px;
  padding: 12px 45px;
  font-weight: 600;
}
.carousel__text a:hover {
  background-color: white;
  color: #ff6600;
}

.carousel__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
/* about */

.about__content .about__left {
  font-size: 1.3rem;
}
.about__left p {
  color: #ff6600;
  font-size: 20px;
}

.about__left h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.about__right {
  font-size: 1.2rem;
  opacity: 0.5;
}
/* book */
.book__left {
  background-image: url(../img/banner3.jpg);
  min-height: 600px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.left-picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(16 15 19 / 46%);
}
.book__right {
  background-color: #ff6600;
  font-size: 1.5rem;
  padding: 64px 72px;
}
.book__right p.type1 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: "Pacifico", cursive;
}
.book__right p {
  color: #ffdfc9;
  font-size: 18px;
  margin: 16px 0;
}
.book__right h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: #232121;
}
.book__right .icon {
  padding: 20px 30px;
  border-radius: 10px;
  background-color: white;
  display: inline-block;
  color: #ff6600;
  margin-top: 48px;
}
.book__right .icon:hover {
  color: #ffc600;
}
.book__right h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #232121;
}

/* title  */
.title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  font-family: "Pacifico", cursive;
}
.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
/* CATEGORY */
/* CATEGORY HEAD */
.category__head h6 {
  font-family: "Pacifico", cursive;
}
.category__head h3 {
  margin-bottom: 3rem;
}

/* CATEGORY CONTENT */
.category__item {
  position: relative;
}

.category__img {
  position: relative;
}
.category__img a {
  background-color: transparent;
}
.category__img::after {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
  position: absolute;
}

.category__text {
  position: absolute;
  width: 95%;
  bottom: 0;
  left: auto;
}
.category__text h4 {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.87rem;
}
.category__text span {
  color: #ffc600;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.category__img img {
  border-radius: 10px;
}

/* BLOG  */
.blog {
  background-color: #f7f7f7;
}
.blog .card {
  border: none;
  background-color: transparent;
  word-wrap: break-word;
}

.blog__img {
  position: relative;
}
.blog__post {
  position: absolute;
  bottom: 10px;
  left: 10px;

  color: #fff;
}
.blog__post a {
  text-decoration: none;
  background-color: #ff6600;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}
.blog__post span {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.02em;

  margin-left: 10px;
}
.blog__post i {
  margin-right: 5px;
}
.blog__text p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}
.blog__text a {
  text-decoration: none;
  color: #232121;
}
.blog__desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;

  margin-top: 25px;
  margin-bottom: 15px;
}

.blog__cardFooter {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.blog__cardFooter a {
  color: #232121;
  font-weight: 700;
  text-decoration: none;
}
.blog__left {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
.blog__right {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
}
/* hover  */
.blog__right:hover a {
  color: #ff6600;
}
.blog__right:hover i {
  color: #ff6600;
}
.blog__cardFooter img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
}
/* TESTIMONIAL */
.testimonial .test__item {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.test__item img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.test__item q {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #232121;
  font-style: italic;
}
.test__item q::before {
  content: open-quote;
  font-size: 50px;
  color: #ff6600;
  display: block;
  font-family: initial;
}
.test__item p {
  font-size: 18px;
  line-height: 28px;
  color: rgba(22, 28, 45, 0.7);
}
.test__item h3 {
  font-size: 20px;
  font-weight: 600;
}

/* testimonial button slick  */
.testimonial .slick-dots li button {
  background-color: #d8d8d8;
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.testimonial .slick-dots li button:before {
  color: #d8d8d8;
  line-height: 10px;
  height: 10px;
  width: 10px;
}
/* Xử lý nút tròn khi có người dùng di chuyển chuột :hover */
.testimonial .slick-dots li:hover button {
  background-color: #ff6600;
}
.testimonial .slick-dots li:hover button::before {
  color: #ff6600;
}
/* Xử lý nút tròn khi có người dùng click */
.testimonial .slick-dots li.slick-active button {
  background-color: #ff6600;
  border-radius: 50%;
}
.testimonial .slick-dots li.slick-active button:before {
  color: #ff6600;
}

/* FOOTER  */
footer {
  background-color: #000;
  color: #a5a2a1;
}
footer li {
  list-style: none;
}
footer .footer__top a {
  text-decoration: none;
}
.footer__logo h2 a {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.footer__logo h2:hover a {
  color: #ff6600;
}
.footer__link i {
  margin-right: 10px;
  color: #ff6600;
  text-align: center;
  font-size: 16px;
  background-color: #fff;

  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
}
.footer__link li:hover i {
  color: #fff;
  background-color: #ff6600;
}

.footer__item1 h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  color: #fff;
}
.footer__item1 li {
  margin-bottom: 10px;
}
.footer__item1 li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer__item1 li:hover a {
  color: #ff6600;
}
/* MAX WIDTH 1200PX */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
